<%- include('start_html_head')%>

<body>
    <div class="container">
        <form method="POST" action="/post/create">
            <input type="text" placeholder="Post title" name="post_title" required>
            <textarea rows="4" cols="50" placeholder="Content" name="post_content"></textarea> 
            <input type="submit">
        </form>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
<%- include('end_html_head')%>