<% if(locals.flashmsg){ %>
  <%= flashmsg %>
<% } %>



<!--
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <% if(locals.flashmsg){ %>
        <%= flashmsg %>
    <% } %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
-->