<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbar">
    <a class="navbar-brand" href="/">SampleBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>