<%- include('start_html_head')%>

<body>

    <%- include('navbarAuth') %>

    <div class="main-content">

        <form action="/auth/signup" method="POST">
            <div class="signup-container">
                <h2>User Registration</h2>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" placeholder="Enter your Email" name="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" placeholder="Enter your Username" name="username" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="password" placeholder="Enter your Password" class="form-control" name="password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="password" placeholder="Confirm Password" class="form-control" name="confirm_password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="submit" class="btn btn-block btn-login" value="Submit">
                    </div>
                </div>
            </div>
        </form>

        <div class="d-flex justify-content-center">
            <p class="alert-conatiner" id="alert-p">
                <% if(flashmsg.length > 0){ %>
                <%- include('alert') %>
                <%}%>
            </p>
        </div>

    </div>

    <%- include('../commonComponents/footer')%>
    <script src="/js/general.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

<%- include('end_html_head')%>