<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        <% if(locals.title){ %>
        <%= title %>
        <% } %>
    </title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free-5.8.2-web/css/all.css" rel="stylesheet">
    <link href="/css/authPagesCSS/auth.css" rel="stylesheet">

</head>