<%- include('start_html_head')%>

<body>

  <!-- Page Content -->
  <div class="container">
    <%- include('../commonComponents/navbar')%>

    <div class="main-content">

    <div class="d-flex justify-content-center">
        <p class="alert-conatiner" id="alert-p">
            <% if(flashmsg.length > 0){ %>
              <%- include('../commonComponents/alert') %>
            <%}%>
        </p>
    </div>

    <!-- Navigation -->
    

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Posts</h1>

        <!-- Blog Post -->
        <%- include('../commonComponents/blogPost') %>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <%- include('../commonComponents/searchWidget') %>

        <!-- Categories Widget -->
        <%- include('../commonComponents/categoriesWidget') %>

      </div>

    </div>
    <!-- /.row -->
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <%- include('../commonComponents/footer')%>

  <!-- Bootstrap core JavaScript -->
  <script src="/js/general.js"></script>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
<%- include('end_html_head')%>