body{
  background-color:#5286F3;
  font-size:14px;
  color:#fff;
}

.main-content{
  margin-top: 10%;
  margin-bottom: 10%;
}

.alert-conatiner{ 
  position: fixed;
}

.login-container{
  width:300px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}

.login-container h2{
  text-align:center;
  font-size:20px;
  margin-bottom: 5%;
}

.login-container .btn-login{
  background-color:#FF5964;
  color:#fff;
}

.signup-container{
  width:300px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}

.signup-container h2{
  text-align:center;
  font-size:20px;
  margin-bottom: 5%;
}

.signup-container .btn-login{
  background-color:#FF5964;
  color:#fff;
}
