<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">SampleBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <% if(locals.user){ %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= locals.user.username%>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/auth/signout">Sign-out</a>
                    </div>
                </li>
                <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/signup">Sign-up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/signin">Sign-in</a>
                </li>
                <% } %>

            </ul>
        </div>
</nav>